location /archive {
    alias ${ARCHIVE_ROOT};
    try_files $uri $uri/ /archive/index.html;

    location ~ ^/archive/(api|other_routes) {
        proxy_pass http://localhost:${ARCHIVE_PORT}; # Pick new port number
        include /etc/nginx/sites-available/includes/common/proxy_settings.conf;
        include /etc/nginx/sites-available/includes/common/cookie_settings.conf;
        include /etc/nginx/sites-available/includes/common/security_settings.conf;
    }

    location /archive/api/health {
        proxy_pass http://localhost:${ARCHIVE_PORT}/health;
        include /etc/nginx/sites-available/includes/common/health_check.conf;
    }
}
