location /bank {
    alias ${BANK_ROOT};
    try_files $uri $uri/ /bank/index.html;

    location ~ ^/bank/(api|other_routes) {
        proxy_pass http://localhost:${BANK_PORT}; # Pick new port number
        include /etc/nginx/sites-available/includes/common/proxy_settings.conf;
        include /etc/nginx/sites-available/includes/common/cookie_settings.conf;
        include /etc/nginx/sites-available/includes/common/security_settings.conf;
    }

    location /bank/api/health {
        proxy_pass http://localhost:${BANK_PORT}/health;
        include /etc/nginx/sites-available/includes/common/health_check.conf;
    }
}
