location /event {
    alias ${EVENT_ROOT};
    try_files $uri $uri/ /event/index.html;

    location ~ ^/event/(api|other_routes) {
        proxy_pass http://localhost:${EVENT_PORT}; # Pick new port number
        include /etc/nginx/sites-available/includes/common/proxy_settings.conf;
        include /etc/nginx/sites-available/includes/common/cookie_settings.conf;
        include /etc/nginx/sites-available/includes/common/security_settings.conf;
    }

    location /event/api/health {
        proxy_pass http://localhost:${EVENT_PORT}/health;
        include /etc/nginx/sites-available/includes/common/health_check.conf;
    }
}
