location /listen {
    alias ${LISTEN_ROOT};
    try_files $uri $uri/ /listen/index.html;

    location ~ ^/listen/(api|other_routes) {
        proxy_pass http://localhost:${LISTEN_PORT}; # Pick new port number
        include /etc/nginx/sites-available/includes/common/proxy_settings.conf;
        include /etc/nginx/sites-available/includes/common/cookie_settings.conf;
        include /etc/nginx/sites-available/includes/common/security_settings.conf;
    }

    location /listen/api/health {
        proxy_pass http://localhost:${LISTEN_PORT}/health;
        include /etc/nginx/sites-available/includes/common/health_check.conf;
    }
}
