location /payment_template {
    alias ${PAYMENT_ROOT};
    try_files $uri $uri/ /payment_template/index.html;

    location ~ ^/payment_template/(api|other_routes) {
        proxy_pass http://localhost:${PAYMENT_PORT}; # Pick new port number
        include /etc/nginx/sites-available/includes/common/proxy_settings.conf;
        include /etc/nginx/sites-available/includes/common/cookie_settings.conf;
        include /etc/nginx/sites-available/includes/common/security_settings.conf;
    }

    location /payment_template/api/health {
        proxy_pass http://localhost:${PAYMENT_PORT}/health;
        include /etc/nginx/sites-available/includes/common/health_check.conf;
    }
}
